.header{
  background-color: #AB2A19;
  height: 4vh;
  color: white;
  font-family: Helvetica;
  font-size: 28px;
  padding: 20px;
}
.mainParent{
  display: flex;
}
.left{
  width: 60vw;
  padding: 50px;
}
.right{
  width: 40vw;
  padding: 50px;
}
.formComponent{
  background-color: #3AD886;
  height: 400px;
  padding: 25px;
  border-radius: 10px;
}
.inputBar {
  width: 100%;
}
.cancelButton {
  background-color: #D34735;
  height: 30px;
  border-radius: 5px;
}
.addButton {
  background-color: #D34735;
  height: 30px;
  border-radius: 5px;
}
.buttons{
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
.productComponent{
  background-color: #D34735;
  height: 150px;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  margin: 10px;
}
.deleteButton {
  background-color: #3AD886;
  height: 30px;
  border-radius: 5px;
}
.editButton {
  background-color: #3AD886;
  height: 30px;
  border-radius: 5px;
}
.productImage{
  width: 50%;
  height: 100%;
  border: 1px solid black;
}
.productText{
  color: black;
  
}
.dashboard{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}